html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

@media screen and (max-width: 414px) {

  body {
    margin: 20px;
  }

  header > p {
    font-size: 28px;
    text-align: center;
    font-weight: 600;
  }

  nav ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
    display: flex;
    justify-content: space-around;
  }

  nav ul li {
    line-height: 25px;
  }

  aside ul {
    list-style-type: none;
    padding-left: 10px;
  }

  footer {
    margin-top: 50px;
    font-size: 14px;
  }
}

@media screen and (min-width: 415px) and (max-width: 912px) {

  body {
    margin: 40px;
  }

  h1 {
    font-size: 36px;
  }

  h2 {
    font-size: 32px;
  }

  header > p {
    font-size: 48px;
    text-align: center;
    font-weight: 600;
  }

  nav ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
  }

  nav ul li {
    font-size: 25px;
  }

  aside {
    margin-bottom: 50px;
  }

  aside ul {
    list-style-type: none;
    padding-left: 10px;
    font-size: 20px;
  }

  article p {
    font-size: 22px;
  }

  footer {
    margin-top: 50px;
    font-size: 18px;
  }
}